#footer{
	background-color: black;
	height: 60px;
}

#footer img{
	float: right;
	height: 50px;
}

#footer .container{
	padding-top: 5px;
	overflow: hidden;
	padding-bottom: 5px;
}

.containerKiri{
	color: white;
	float: left;
}

.containerKanan{
	float: right;
}